.container > * {
  margin-bottom: 10px;
}

th {
  text-align: right;
  font-weight: normal;
}

th:not(#text), td {
  width: 30px;
  text-align: center;
}


p {
  margin: 0;
}






